<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Pedido N°{$Pedidos.idperdidos}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Adm"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/Adm/orders">Pedidos</a></li>
            <li class="active"><a href="/Adm/orders/{$Pedidos.idperdidos}">Pedido N°{$Pedidos.idperdidos}</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Status do Pedido</h3>
                    </div>
                    <!-- /.box-header -->
                    {if="$MsgErro != ''"}
                    <div class="alert alert-danger alert-dismissible" style="margin:10px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>{$MsgErro}</p>
                    </div>
                    {/if} {if="$MsgSucesso != ''"}
                    <div class="alert alert-success alert-dismissible" style="margin:10px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>{$MsgSucesso}</p>
                    </div>
                    {/if}
                    <!-- form start -->
                    <form role="form" action="/Adm/orders/{$Pedidos.idperdidos}/status" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="desproduct">Status do Pedido</label>
                                <select class="form-control" name="idstatus">
                            {loop="$Status"}
                            <option {if="$value.idstatus === $Pedidos.tb_perdidosstatus_idstatus"}selected="selected"{/if} value="{$value.idstatus}">{$value.desstatus}</option>
                            {/loop}
                        </select>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->

    <div class="clearfix"></div>

</div>
<!-- /.content-wrapper -->